*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 13.333px;
}

body{
    background-color: rgb(49, 111, 91);
}

.top{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
}

button{
    padding: 8px 16px;
    background-color: white;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    width: 540px;
    height: 540px;
    background-color: white;
    margin-top: 40px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

div.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid{
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}